{% extends 'base.html' %}

{% block content %}
<div class="container mt-3">
    <h2>Access Roles</h2>
    <div class="mb-3">
        {% comment %} <a href="{% url 'access-role-create' %}" class="btn btn-success">Create New</a> {% endcomment %}
    </div>
    <div class="search-form mb-3">
        <form method="get" action="{% url 'access_roles' %}">
            <div class="input-group">
                <input type="text" class="form-control" name="search" placeholder="Search by Name, Level or Description" value="{{ request.GET.search|default:'' }}">
                <div class="input-group-append">
                    <button type="submit" class="btn btn-info">Find</button>
                </div>
            </div>
        </form>
    </div>
    <div class="table-responsive">
     <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Access Level</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for role in access_roles %}
            <tr>
                <td>{{ role.name }}</td>
                <td>{{ role.access_level }}</td>
                <td>{{ role.description }}</td>
                <td>
{% comment %}                     <a href="{% url 'access-role-update' role.name %}" class="btn btn-outline-dark btn-sm btn-fixed-width my-1">Update</a>
                    <form action="{% url 'access-role-delete' role.name %}" method="post" class="d-inline-block" onsubmit="return confirm('Are you sure you want to delete this access role?');">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-outline-danger btn-sm btn-fixed-width my-1">Delete</button>
                    </form> {% endcomment %}
                </td>              
            </tr>
            {% empty %}
            <tr>
                <td colspan="4">No access roles found.</td>
            </tr>
            {% endfor %}
        </tbody>
     </table>
    </div>
</div>
{% endblock %}
