{% extends 'base.html' %}
{% load static %} 

{% block content %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<div class="container">
    <div class="row">

        <!-- Total Vulnerabilities-->
        <div class="col-lg-6 col-md-12 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Total Found Vulnerabilities</h5>
                    <h4 class="card-title display-4">{{ count_results }}</h4>
                </div>
            </div>
        </div>

        <!-- Vulnerability Chart -->
        <div class="col-lg-6 col-md-12 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Vulnerability Severity Distribution</h5>
                    <canvas id="vulnerabilityChart"></canvas>
                </div>
            </div>
        </div>

        <!-- Host Chart -->
        <div class="col-lg-6 col-md-12 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Host Count by OS</h5>
                    <canvas id="hostChart"></canvas>
                </div>
            </div>
        </div>

        <!-- Software Chart -->
        <div class="col-lg-6 col-md-12 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Vulnerability Stats by Software</h5>
                    <canvas id="softwareChart"></canvas>
                </div>
            </div>
        </div>
    </div>

    <script src="{% static 'js/charts-setup.js' %}"></script>
    <script>
        console.log({{ vulnerabilities_by_rating|safe }});
        document.addEventListener('DOMContentLoaded', function() {
            var vulnerabilityData = JSON.parse('{{ vulnerabilities_by_rating|safe }}');
            var hostData = JSON.parse('{{ hosts_vulnerabilities_by_os|safe }}');
            var softwareData = JSON.parse('{{ software_stats|safe }}');

            setupCharts(vulnerabilityData, hostData, softwareData);
        });
    </script>
</div>
{% endblock %}
