{% extends 'base.html' %}
{% load static %} 

{% block content %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<div class="container">
    <h1 class="mb-4">Welcome to Django Vulnerability Manager</h1>

    <div class="list-group">
        <a class="list-group-item list-group-item-action flex-column align-items-start active">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Django/MySQL Application</h5>
          </div>
          <p class="mb-1">Django Application with raw CRUD operations for 9 tables in a MySQL server.</p>
          <small>Check CRUD for each table under the TABLES dropdown tab.</small>
        </a>
        <br>
        <a class="list-group-item list-group-item-action flex-column align-items-start">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Reports with aggregations</h5>
          </div>
          <p class="mb-1">Aggregation reports can be visualized here, or read in table format in the "SCAN REPORT" tab.</p>
          <small class="text-muted">Aggregations include SQL procedures with COUNT, AVG, and SUM.</small>
        </a>
      </div>
    <br>


    <div class="row">

        <!-- Total Vulnerabilities-->
        <div class="col-lg-6 col-md-12 mb-4">
            <div class="card">
                <div class="card-body d-flex flex-column justify-content-center text-center">
                    <h5 class="card-title">Total Vulnerabilities Found</h5>
                    <h4 class="card-title display-4">{{ count_results }}</h4>
                </div>
            </div>
            <div class="card">
                <div class="card-body d-flex flex-column justify-content-center text-center">
                    <h5 class="card-title">Average Severity</h5>
                    <h4 class="card-title display-4">{{ avg_max_severity.0.0 }}</h4>
                </div>
            </div>
            <div class="card">
                <div class="card-body d-flex flex-column justify-content-center text-center">
                    <h5 class="card-title">Maximum Severity</h5>
                    <h4 class="card-title display-4">{{ avg_max_severity.0.1 }}</h4>
                </div>
            </div>
            <div class="card">
                <div class="card-body d-flex flex-column justify-content-center text-center">
                    <h5 class="card-title">Total Hosts</h5>
                    <h4 class="card-title display-4">{{ count_hosts }}</h4>
                </div>
            </div>
        </div>
        

        <!-- Vulnerability Chart -->
        <div class="col-lg-6 col-md-12 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Vulnerability Severity Distribution</h5>
                    <canvas id="vulnerabilityChart"></canvas>
                </div>
            </div>
        </div>

        <!-- Host Chart -->
        <div class="col-lg-6 col-md-12 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Host Count by OS</h5>
                    <canvas id="hostChart"></canvas>
                </div>
            </div>
        </div>

        <!-- Software Chart -->
        <div class="col-lg-6 col-md-12 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Vulnerabilities by Host</h5>
                    <canvas id="hostVulnsChart"></canvas>
                </div>
            </div>
        </div>
    </div>

    <script src="{% static 'js/charts-setup.js' %}"></script>
    <script>
        console.log({{ host_vulns_data|safe }});
        document.addEventListener('DOMContentLoaded', function() {
            var vulnerabilityData = JSON.parse('{{ vulnerabilities_by_rating|safe }}');
            var hostData = JSON.parse('{{ hosts_vulnerabilities_by_os|safe }}');
            var hostVulnsData = JSON.parse('{{ host_vulns_data|safe }}');

            console.log(vulnerabilityData);
            setupCharts(vulnerabilityData, hostData, hostVulnsData);
        });
    </script>
</div>
{% endblock %}
